*.pyc
*.log
venv/
log/
work/
strage/
Recruitment.code-workspace
.gitgnore
__pycache__/
web.config
Recruitment/applicantctl/templates/applicantctl/upd copy.html
Recruitment/applicantctl/templates/applicantctl/upd.as.html
Recruitment/applicantctl/templates/applicantctl/upd - コピー.html
Recruitment/web.config
Recruitment/develop/
