{% extends "base.html" %}
{% block content %}


</br>
<div class="container-fluid">
    {% if user.is_authenticated %}
	<ul class="nav">
		<li class="nav-item">
			<a href="{% url 'applicantctl:add' %}" >応募者追加</a>
		</li>
	</ul>
    {% endif %}
</div>
</br>

<div class="container-fluid">
	<form class="form" action="" method="GET" >
		<div class="form-row">
			{% for field in forms %}
			<div class="col-sm-3">
			{{ field.m_appl_route.label }}
			{{field.m_appl_route}}
			</div>
			<div class="col-sm-3">
			{{ field.m_work_history.label }}
			{{field.m_work_history}}
			</div>
			{% endfor %}
			<div class="col-sm-6 mt-4">
				<input type="submit" value="検索">
			</div>
			{% csrf_token %}
			{{ forms.management_form }}
		</div>
	</form>
</div>
</br>
<div class="container-fluid">
	<table class="table  table-hover col-sm-12" >
		<thead>
          <th>No</th>
          <th>応募日</th>
          <th>応募者No.</th>
          <th>応募者名</th>
          <th>経歴</th>
          <th>応募経路</th>
          <th>第1優先部</th>
          <th>判定</th>
          <th>第2優先部</th>
          <th>判定</th>
          <th>第3優先部</th>
          <th>判定</th>
          <th>設定</th>
        </tr>
		</thead>
		<tbody>
        {% for record in list %}
          <tr>
	        {% for column in record|slice:":12" %}
	        	{% if forloop.counter0 == 3 %}
			        {% for key_applicant in record|slice:":1" %}
				        <td><a href="{% url 'applicantctl:upd' key_applicant %}">{{ column }}</a></td>
			        {% endfor %}
	        	{% elif forloop.counter0 == 6 %}
	        		{% if column == none %}
	        			<td></td>
		        	{% else %}
				      	{% for key_judgment_1 in record|slice:"12:13" %}
				    		<td><a href="{% url 'applicantctl:upd_judgment' key_judgment_1 %}">{{ column }}</td>
				        {% endfor %}
		        	{% endif %}
	        	{% elif forloop.counter0 == 8 %}
	        		{% if column == none %}
	        			<td></td>
		        	{% else %}
				      	{% for key_judgment_2 in record|slice:"13:14" %}
				    		<td><a href="{% url 'applicantctl:upd_judgment' key_judgment_2 %}">{{ column }}</td>
				        {% endfor %}
		        	{% endif %}
	        	{% elif forloop.counter0 == 10 %}
	        		{% if column == none %}
	        			<td></td>
		        	{% else %}
				      	{% for key_judgment_3 in record|slice:"14:15" %}
				    		<td><a href="{% url 'applicantctl:upd_judgment' key_judgment_3 %}">{{ column }}</td>
				        {% endfor %}
		        	{% endif %}
	        	{% else %}
	            <td>{{ column|default_if_none:"" }}</td>
	        	{% endif %}
	        {% endfor %}
	        <td>
	        {% for column in record|slice:":1" %}
		        <a href="{% url 'applicantctl:add_judgment' column %}">設定</a>
	        {% endfor %}
	        </td>
          </tr>
        {% endfor %}
		</tbody>
	</table>
</div>


</br>

{% load custom_tags %}
<div class="container">
	<div class="row">
		 <div class="col-sm"></div>
		 <div class="col-sm justify-content-around">
			<ul class="pagination">
			    <!-- 前へ の部分 -->
			    {% if page_obj.has_previous %}
			        <li class="page-item">
			            <a class="page-link" href="?{% query_string request page_obj.previous_page_number %}">
			                <span aria-hidden="true">&laquo;</span>
			            </a>
			        </li>
			    {% endif %}

			    <!-- 数字の部分 -->
			    {% for num in page_obj.paginator.page_range %}
			        {% if page_obj.number == num %}
			            <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
			        {% else %}
			            <li class="page-item"><a class="page-link" href="?{%  query_string request num %}">{{ num }}</a></li>
			        {% endif %}
			    {% endfor %}

			    <!-- 次へ の部分 -->
			    {% if page_obj.has_next %}
			        <li class="page-item">
			            <a class="page-link" href="?{% query_string request page_obj.next_page_number %}">
			                <span aria-hidden="true">&raquo;</span>
			            </a>
			        </li>
			    {% endif %}
			</ul>		</div>
		<div class="col-sm"></div>
	</div>
</div>
{% endblock%}

