{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    {% if user.is_authenticated %}
	<ul>
		<li>
			<a href="{% url 'applicantctl:add' %}" > 応募者追加</a>
		</li>
	</ul>
    {% endif %}
</div>

<div class="container-fluid">
	<table class="table  table-hover col-sm-12" >
        {% for record in list %}
        	{{ record.key_applicant }}
        	{{ record.applicant_date }}
        {% endfor %}
	</table>


    {% if page_obj.has_previous %}
     <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %}
    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
	{% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}
	
</div>
{% endblock%}

