{% extends "base.html" %}
 
{% block content %}
{{ message }}

<form action ={% url 'applicantctl:index' %} method="POST" >
</form>
<form action="" method="POST" >
		<table>
			<tr>
			{% for field in forms %}
					<td>
			{{ field.m_appl_route.label }}{{field.m_appl_route}}
			{{ field.m_work_history.label }}{{field.m_work_history}}
					</td>
			{% endfor %}
					<td>
					<input type="submit" value="検索">
					</td>
			</tr>
        </table>
		{% csrf_token %}
		{{ forms.management_form }}
</form>
       	<table>
			</td>
		</tr>
	</table>
</br>
<table border="1">
      <thead>
        <tr>
          <th>No</th>
          <th>応募日</th>
          <th>応募者№</th>
          <th>応募者名</th>
          <th>経歴</th>
          <th>応募経路</th>
          <th>第1優先部</th>
          <th>第1優先部判定</th>
          <th>第2優先部</th>
          <th>第2優先部判定</th>
          <th>第3優先部</th>
          <th>第3優先部判定</th>
          <th>設定</th>
        </tr>
      </thead>
      <tbody>
        {% for record in list %}
          <tr>
	        {% for column in record|slice:":12" %}
	        	{% if forloop.counter0 == 3 %}
			        {% for key_applicant in record|slice:":1" %}
				        <td><a href="{% url 'applicantctl:upd' key_applicant %}">{{ column }}</a></td>
			        {% endfor %}
	        	{% elif forloop.counter0 == 6 %}
	        		{% if column == none %}
	        			<td></td>
		        	{% else %}
				      	{% for key_judgment_1 in record|slice:"12:13" %}
				    		<td><a href="{% url 'applicantctl:upd_judgment' key_judgment_1 %}">{{ column }}</td>
				        {% endfor %}
		        	{% endif %}
	        	{% elif forloop.counter0 == 8 %}
	        		{% if column == none %}
	        			<td></td>
		        	{% else %}
				      	{% for key_judgment_2 in record|slice:"13:14" %}
				    		<td><a href="{% url 'applicantctl:upd_judgment' key_judgment_2 %}">{{ column }}</td>
				        {% endfor %}
		        	{% endif %}
	        	{% elif forloop.counter0 == 10 %}
	        		{% if column == none %}
	        			<td></td>
		        	{% else %}
				      	{% for key_judgment_3 in record|slice:"14:15" %}
				    		<td><a href="{% url 'applicantctl:upd_judgment' key_judgment_3 %}">{{ column }}</td>
				        {% endfor %}
		        	{% endif %}
	        	{% else %}
	            <td>{{ column|default_if_none:"" }}</td>
	        	{% endif %}
	        {% endfor %}
	        <td>
	        {% for column in record|slice:":1" %}
		        <a href="{% url 'applicantctl:add_judgment' column %}">設定</a>
	        {% endfor %}
	        </td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

