{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
     <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
	{{ formset.media }}
	<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
</head>
<body>
{% block content %}
<form name="form" method="post" action="{% url 'applicantctl:upd' key_applicant %}">

	{% csrf_token %}
	<table>
		{{ formset.as_table }}
	</table>
	{{ formset.management_form }}
	<input type="button" class="btn btn-primary" OnClick="ButtonClick('1');" value="更新" >
	<input type="button" class="btn btn-primary" OnClick="ButtonClick('2');" value="削除" >
</form>
<script>
function ButtonClick(param){
	if (param == '2' ){
		document.form.action ="{% url 'applicantctl:delete' key_applicant %}";
		var result = confirm('削除してよろしいですか？' );
		if (result){
			document.form.submit();
		}
	}else{
		document.form.action ="{% url 'applicantctl:upd' key_applicant %}";
		document.form.submit();
	}
}
</script>
{% endblock%}
