{% extends "base_datetimepicker.html" %}
{% block content %}
</br>
{% if errmsg %}
<p class="alert alert-danger">{{ errmsg }}</p>
{%endif%}


<!--
{% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}
{% endfor %}
-->

</br>

<form name="form" method="post" action="{% url 'applicantctl:upd' key_applicant %}">
		{% csrf_token %}
		<div class="container">
		{{ form.as_p }}	
		</div>
			</br>
	
			<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<input type="button" class="btn btn-block btn-primary" OnClick="ButtonClick('1');" value="更新" >
			</div>
			<div class="col-md-2">
				<input type="button" class="btn btn-block btn-primary" OnClick="ButtonClick('2');" value="削除" >
			</div>
			<div class="col-md-6">
			</div>
		</div>
		</br>
	</div>
</form>

</br>
<script>
function ButtonClick(param){
	if (param == '2' ){
		document.form.action ="{% url 'applicantctl:delete' key_applicant %}";
		var result = confirm('削除してよろしいですか？' );
		if (result){
			document.form.submit();
		}
	}else{
		document.form.submit();
	}
}
</script>
{% endblock%}
