{% extends "base_datetimepicker.html" %}
{% block content %}
<form name="form" method="post" action="{% url 'applicantctl:upd' key_applicant %}">

	{% csrf_token %}
	<table>
		{{ formset.as_table }}
	</table>
	{{ formset.management_form }}
	<input type="button" class="btn btn-primary" OnClick="ButtonClick('1');" value="更新" >
	<input type="button" class="btn btn-primary" OnClick="ButtonClick('2');" value="削除" >
</form>
<script>
function ButtonClick(param){
	if (param == '2' ){
		document.form.action ="{% url 'applicantctl:delete' key_applicant %}";
		var result = confirm('削除してよろしいですか？' );
		if (result){
			document.form.submit();
		}
	}else{
		document.form.action ="{% url 'applicantctl:upd' key_applicant %}";
		document.form.submit();
	}
}
</script>
{% endblock%}
