<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\PycharmProjects4\Recruitment" />
    <add key="DJANGO_SETTINGS_MODULE" value="Recruitment.settings" />
    <add key="WSGI_LOG" value="C:\inetpub\PycharmProjects4\log\wfastcgi.log" />
  </appSettings>
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\inetpub\pycharmprojects4\venv\scripts\python.exe|c:\inetpub\pycharmprojects4\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>